body{
    background-color: #000; 
    color: #FF0000;
    font-size: 25px;
}

h1{
    color: #FF0000
    ;

}

p{
    color: white;

}

div{
    background-color: blue;
    padding: 20px;
    border: 5px;
    border-style: solid;
    border-color: gray;
    margin: 50px;
    border-radius: 15px;
    
}

img{
        border-radius: 30px;
    }